---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---



<Layout title="Portafolio de Jose Narvaez - Desarrollador Web y Móvil">
	<Header />
	<main>
		<Hero />
		<!-- Aquí irán las otras secciones (Sobre Mí, Proyectos, etc.) -->
	</main>
</Layout>

