---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Expertise from '../components/Expertise.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---



<Layout title="Portafolio de Jose Narvaez - Desarrollador Web y Móvil" >
	<Header />
	<main>
		<Hero />
		<About />
		<Projects />
		<Expertise />
		<CTA /> 
		<!-- Aquí irán las otras secciones (Experiencia, Contacto, etc.) -->
	</main>
	<Footer />
</Layout>

