---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio de Jose Narvaez - Desarrollador Web y Móvil">
	<main>
		<h1 class="text-purple-700 text-5xl font-bold">Mi Portafolio</h1>
		<p class="text-zinc-500">Próximamente...</p>
	</main>
</Layout>
