---
// src/components/Projects.astro
import ProjectCard from './ProjectCard.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---
<section id="proyectos" class="bg-gray-50 py-20 sm:py-22">
    <div class="max-w-6xl mx-auto px-6">
        <div class="text-center">
            <p class="text-purple-600 font-semibold">Portfolio 2025</p>
            <h2 class="text-4xl sm:text-5xl font-bold mt-2 text-gray-900">Proyectos</h2>
        </div>
        <div class="mt-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
            {projects.map(project => (
                <ProjectCard 
                    title={project.data.title}
                    description={project.data.description}
                    imageUrl={project.data.mainImage}
                    // El enlace ahora apunta a la página generada
                    link={`/proyectos/${project.slug}/`} 
                />
            ))}
        </div>
    </div>
</section>
